[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
whitenoise = "*"
gunicorn = "*"
django-heroku = "*"
django-environ = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
djangorestframework-simplejwt = "*"
fastkml = "*"
lxml = "*"

[requires]
python_version = "3.7"
